* {
    font-family: 'Raleway', sans-serif;
}

#map{
    width: 600px; 
    height: 500px
}

.flag {
    display: inline-block;
    width: 500px;
    height: 110px;
    
}

#detail-restaurant{
    display: none;
    position: fixed; 
    width: 350px; 
    height: 190px; 
    top: 0; 
    left: 0; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-weight: normal; 
    border: #333333 3px solid; 
    background-color: #FAFAFA; 
    color: #000000; 
}